<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGpYdCt6Cy1ij9qmeUo2nb_a466fErsLY</string>
	<key>GCM_SENDER_ID</key>
	<string>818230008289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pomodoroApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>firepomodoro</string>
	<key>STORAGE_BUCKET</key>
	<string>firepomodoro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818230008289:ios:92d95849c4e9cf2fb8daa0</string>
</dict>
</plist>